/*  your css code here. If applicable */
h2{
	text-align:center;
}
body {
    background-color: #f8f8f8;
	display:flex;
	justify-content:center;
	
}

.book-library {
     flex-wrap: wrap;
    justify-content: center;
	box-shadow:4px;
	width:200px;
	text-align:center;
}

p{
	color:#ffffff;
}

.book {
    text-align: center;
    width: 200px;
    margin: 10px;
	flex-wrap: wrap;
	
}


.book p {
    color: #777777;
}

button {
    background-color: #2ecc71;
	width:100%;
	border:none;
}